.github
.vscode
apps/api-e2e
node_modules
tmp
tools
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.prettierignore
.prettierrc
CODE_OF_CONDUCT.md
compose.yaml
jest.config.ts
jest.preset.js
nx.json
README.md
release.config.js
